{% extends "dashboard_v2-layout.html" %}
{% block title %}Generate AI-Powered Reports{% endblock %}
{% block main %}
<div class="main-section" style="width: 80vw;">
    <div class="container col-md-10">
        <form action="{{url_for('dashboard_v2.submit_report')}}" method="POST" enctype="multipart/form-data">
          <section class="my-2 my-md-4 px-1">
            <!-- Task description textarea -->
            <div class="mb-3">
              <h1 class="mb-3">Enter the report description and resources below:</h1>
              <div class="alert alert-info" role="alert">
                <h4 style="font-size: 14px; color: #555;">Instructions:</h4>
                <ol style="font-size: 12px; color: #555;">
                    <li>Start 'Report Description' with: <b>"Generate/Write a report on &lt;topic&gt;. (Optional: questions to answer, items to include)"</b> + specific analysis list.</li>
                    <li>Graphs auto-generate.</li>
                    <li><b>Report generation: 5-10 minutes, based on complexity and resources.</b></li>
                </ol>
              </div>
            </div>
            <div class="mb-3">
              <h3 class="mb-2">Enter Report Description:</h3>
              <textarea rows="5" class="form-control mb-3 description-area width-90 border-2" id="taskDescription" name="description" placeholder="Generate/Write a report on &lt;topic&gt;. (Optional)Answer the following questions... (Optional)Include the following in the report..." required></textarea>
            </div>
            <br>
            <div class="mb-3">
                <h3 class="mb-2">Upload Resources:</h3>
                <input type="file" class="form-control width-90" id="pdfFile" name="resources" multiple accept=".pdf, .csv, .xls, .xlsx, .doc, .docx, .ppt, .pptx" required>
            </div>
            <div id="uploadedFiles" class="mt-3"></div>
            <br>
            <!-- ............................. -->
            <!-- Submit button -->
            <div class="text-end width-90">
              <button type="submit" class="btn btn-primary submit-btn button" id="submitButton">
                Submit
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              </button>
            </div>
            <!--Error message-->
            {% if error_message %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
                <script>
                    // Call the function to reset the submit button
                    resetSubmitButton();
                </script>
            {% endif %}
          </section>
        </form>
      </div>
</div>
{% endblock %}
{% block custom_javascript %}
<script src="{{ url_for('dashboard_v2.static', filename='js/report-inputs.js') }}"></script>
{% endblock %}