{% extends 'layout.html' %}
{% block description %}Reset your account password securely. Follow the simple steps to create a new password and regain access to your AI-generated reports and account features.{% endblock %}
{% block title %}Reset Your Password | trusttyreporter.com{% endblock %}
{% block content %}
<!-- Password Reset 10 - Bootstrap Brain Component -->
  <section class="bg-light py-3 py-md-5 py-xl-8" style="min-height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
          <div class="mb-5">
            <div class="text-center mb-4">
              <a href="{{url_for('home')}}">
                <img src="{{ url_for('auth.static', filename='images/logo.png') }}" alt="BootstrapBrain Logo" width="175" height="57">
              </a>
            </div>
            <h4 class="text-center mb-4">Password Reset</h4>
          </div>
          <div class="card border border-light-subtle rounded-4">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <form action="#!">
                <p class="text-center mb-4">Provide the email address associated with your account to recover your password.</p>
                <div class="row gy-3 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                      <label for="email" class="form-label">Email</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-4">
            <a href="{{url_for('auth.signin')}}" class="link-secondary text-decoration-none">Login</a>
            <a href="{{url_for('auth.signup')}}" class="link-secondary text-decoration-none">Register</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}