<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Effortlessly generate professional reports from PDFs and CSVs using TrustyReporter's AI-powered tool. Automate report creation, engage in conversational analysis, and collaborate with AI to produce stunning, insightful reports. Streamline your reporting process and unlock valuable insights with ease.">
    <title>TrusttyReporter</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/favicon-196x196.png')}}" sizes="32x32" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/landing.css') }}" rel="stylesheet">
</head>

<body>
    <header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #ffffff;">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img src="{{url_for('static',filename='images/logo.png')}}" alt="BootstrapBrain Logo" width="200" height="70">
            </a>
            <a href="{{url_for('auth.signin')}}">
            <button class="btn btn-primary">Get Started</button>
            </a>
        </div>
    </nav>

    <div class="spacer d-none d-md-block" style="height: 80px;"></div>
    <div class="spacer d-md-none" style="height: 60px;"></div>
    </header>

    <!-- Hero -->
    <section class="py-5 py-lg-7 py-xl-10">
        <div class="container overflow-hidden">
            <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
                <div class="col-12 col-lg-6 order-1 order-lg-0">
                    <h2 class="display-2 fw-bold mb-3">Generate Stunning Reports with AI</h2>
                    <p class="fs-2 mb-5">
                        Transform your <span id="data-type" class="text-center"><span class="data-text">PDF</span></span> data into professional reports at the click of a button
                      </p>
                    
                    <div class="d-grid gap-2 d-sm-flex">
                        <a href="{{url_for('auth.signin')}}" class="btn btn-primary btn-lg px-5 py-3 rounded-pill">Get Started</a>
                        <!--<button type="button" class="btn btn-outline-primary bsb-btn-2xl rounded-pill">Free
                            Trial</button>-->
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <div class="position-relative">
                        <img class="img-fluid position-relative z-2" loading="lazy" src="./static/images/hero-img.png"
                            alt="An AI tool to automate reporting">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>

    <!-- Services -->
    <section class="bsb-service-7 py-5 py-xl-8">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h3 class="fs-5 mb-2 text-secondary text-center text-uppercase">What we do?</h3>
                    <h2 class="display-6 mb-5 mb-xl-9 text-center">Effortlessly generate professional reports from PDFs and CSVs using our cutting-edge AI technology.</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid bg-light border shadow">
                        <div class="row">
                            <div class="col-12 col-md-4 p-0">
                                <div class="card border-0 bg-transparent">
                                    <div class="card-body text-center p-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-magic text-primary mb-4" viewBox="0 0 16 16">
                                            <path d="M9.5 2.672a.5.5 0 1 0 1 0V.843a.5.5 0 0 0-1 0zm4.5.035A.5.5 0 0 0 13.293 2L12 3.293a.5.5 0 1 0 .707.707zM7.293 4A.5.5 0 1 0 8 3.293L6.707 2A.5.5 0 0 0 6 2.707zm-.621 2.5a.5.5 0 1 0 0-1H4.843a.5.5 0 1 0 0 1zm8.485 0a.5.5 0 1 0 0-1h-1.829a.5.5 0 0 0 0 1zM13.293 10A.5.5 0 1 0 14 9.293L12.707 8a.5.5 0 1 0-.707.707zM9.5 11.157a.5.5 0 0 0 1 0V9.328a.5.5 0 0 0-1 0zm1.854-5.097a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L8.646 5.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0l1.293-1.293Zm-3 3a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L.646 13.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0z"/>
                                        </svg>
                                        <h4 class="fw-bold text-uppercase mb-4">Generate Reports</h4>
                                        <p class="mb-4 text-secondary">Upload your PDFs and CSVs, provide a prompt, 
                                            and let our AI tool work its magic. It will analyze the data 
                                            from your files and generate a comprehensive report complete with visuals 
                                            and valuable insights.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0 border-top border-bottom border-start border-end">
                                <div class="card border-0 bg-transparent">
                                    <div class="card-body text-center p-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-pencil-square text-primary mb-4" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                        </svg>
                                        <h4 class="fw-bold text-uppercase mb-4">Edit Reports</h4>
                                        <p class="mb-4 text-secondary">Take control of your reports by making changes to the preliminary version generated by our AI tool. 
                                            Refine the content, add your own insights, and let the AI tool create a final report with stunning visuals. Collaborate with the 
                                            AI to enrich your reports and make them truly impactful.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-0">
                                <div class="card border-0 bg-transparent">
                                    <div class="card-body text-center p-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="text-primary mb-4" viewBox="0 0 16 16">
                                            <g transform="scale(0.8)">
                                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                              </g>
                                              <g transform="translate(3, 3) scale(0.8)">
                                                <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"/>
                                              </g>
                                          </svg>
                                        <h4 class="fw-bold text-uppercase mb-4">Chat Reports</h4>
                                        <p class="mb-4 text-secondary">Engage in a conversation with your PDFs and CSVs to create a report tailored to your needs. 
                                            Ask questions, seek analysis, and gain insights based on the content of your files. 
                                            Our AI tool will transform the chat into a presentable report. You can even opt to conduct further research over the 
                                            internet to enhance your report.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Featured -->
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-6 text-center">Explore Our AI-Generated Reports</h2>
                    <p class="text-secondary mb-5 text-center lead fs-4">Discover the power of our AI tool by browsing through our sample reports, automatically generated from PDFs and CSVs.</p>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-3 gy-lg-0 gx-xxl-5">
                <div class="col-12 col-lg-4">
                    <article>
                        <figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
                            <a href="{{url_for('salesReport')}}">
                                <div class="ratio ratio-16x9">
                                <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy"
                                     src="{{url_for('static',filename='images/dummy-img.png')}}" alt="Sales Report"
                                     style="object-fit: cover;">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-header mb-3">
                            <ul class="entry-meta list-unstyled d-flex mb-2">
                                <li>
                                    <a class="link-primary text-decoration-none" href="{{url_for('salesReport')}}">Sales/Marketing</a>
                                </li>
                            </ul>
                            <h2 class="entry-title h4 mb-0">
                                <a class="link-dark text-decoration-none" href="{{url_for('salesReport')}}">Revolutionize your sales strategy with our AI-powered sales report. Gain comprehensive insights, predict trends, and make data-driven decisions to maximize your business's potential.</a>
                            </h2>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
                            <a href="{{url_for('freedomIndexReport')}}">
                                <div class="ratio ratio-16x9">
                                <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy"
                                    src="{{url_for('static',filename='images/freedom-index-france-report-img.png')}}" alt="Economics/Finance" style="object-fit: cover;">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-header mb-3">
                            <ul class="entry-meta list-unstyled d-flex mb-2">
                                <li>
                                    <a class="link-primary text-decoration-none" href="{{url_for('freedomIndexReport')}}">Economics/Finance</a>
                                </li>
                            </ul>
                            <h2 class="entry-title h4 mb-0">
                                <a class="link-dark text-decoration-none" href="{{url_for('freedomIndexReport')}}">Explore France's economic freedom with our AI-generated report. Analyze key indicators, identify trends, and gain insights into the nation's economic landscape.</a>
                            </h2>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
                            <a href="{{url_for('googlePlayStoreReport')}}">
                                <div class="ratio ratio-16x9">
                                <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy"
                                    src="{{url_for('static',filename='images/google-play-store-report-img.jpeg')}}" alt="Product/Technology" style="object-fit: cover;">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-header mb-3">
                            <ul class="entry-meta list-unstyled d-flex mb-2">
                                <li>
                                    <a class="link-primary text-decoration-none" href="{{url_for('googlePlayStoreReport')}}">Product/Technology</a>
                                </li>
                            </ul>
                            <h2 class="entry-title h4 mb-0">
                                <a class="link-dark text-decoration-none" href="{{url_for('googlePlayStoreReport')}}">Discover trends and insights in the Google Play Store with our AI-driven app analysis. Make informed decisions to optimize your app's performance.</a>
                            </h2>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Testimonial 3 - Bootstrap Brain Component -->
    <section class="bg-light py-5 py-xl-8">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="fs-6 text-secondary mb-2 text-uppercase text-center">Happy Customers</h2>
                    <p class="display-5 mb-4 mb-md-5 text-center">We deliver what we promise. See what clients are
                        expressing about us.</p>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-4 gy-md-0 gx-xxl-5">
                <div class="col-12 col-md-4">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body p-4 p-xxl-5">
                            <figure>
                                <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                                    src="{{url_for('static',filename='images/profile-img.png')}}" alt="Luna John">
                                <figcaption>
                                    <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0">
                                    </div>
                                    <blockquote class="bsb-blockquote-icon mb-4">We were so impressed with the work they
                                        did for us. They were able to take our vision and turn it into a reality, and
                                        they did it all on time and within budget. We would highly recommend them to
                                        anyone looking for a reliable partner.</blockquote>
                                    <h4 class="mb-2">Luna John</h4>
                                    <h5 class="fs-6 text-secondary mb-0">UX Designer</h5>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body p-4 p-xxl-5">
                            <figure>
                                <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                                    src="{{url_for('static',filename='images/profile-img.png')}}" alt="Mark Smith">
                                <figcaption>
                                    <div class="bsb-ratings text-warning mb-3" data-bsb-star="4" data-bsb-star-off="1">
                                    </div>
                                    <blockquote class="bsb-blockquote-icon mb-4">We were looking for a company that
                                        could help us develop a new website that was both visually appealing and
                                        user-friendly. We are so happy with the results, and we would highly recommend
                                        them to anyone looking for a new website.</blockquote>
                                    <h4 class="mb-2">Mark Smith</h4>
                                    <h5 class="fs-6 text-secondary mb-0">Marketing Specialist</h5>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body p-4 p-xxl-5">
                            <figure>
                                <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                                    src="{{url_for('static',filename='images/profile-img.png')}}" alt="Luke Reeves">
                                <figcaption>
                                    <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0">
                                    </div>
                                    <blockquote class="bsb-blockquote-icon mb-4">We were looking for a company that
                                        could help us with our branding. We needed a website and marketing materials.
                                        They were able to create a brand identity that we loved. They worked with us to
                                        develop a logo that represented our company.</blockquote>
                                    <h4 class="mb-2">Luke Reeves</h4>
                                    <h5 class="fs-6 text-secondary mb-0">Sales Manager</h5>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call To Action -->
    <section class="bsb-cta-2 py-5">
        <div class="container">
        <div class="card border-0 rounded-3 overflow-hidden text-center bsb-overlay" style="background-color: white; --bsb-overlay-opacity: .9; --bsb-overlay-bg-color:var(--bs-primary-rgb);">
            <div class="card-body">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-10 col-xl-8 col-xxl-7">
                <h2 class="h5 mb-4 text-primary text-uppercase">Revolutionize Your Reporting</h2>
                <h2 class="display-5 text-dark mb-5">Automate report creation, engage in conversational analysis, and collaborate with AI to produce stunning, insightful reports.</h2>
                <a href="{{url_for('auth.signin')}}" class="btn btn-primary btn-lg px-7 py-4 fs-3 rounded mb-0 text-nowrap w-50">Get Started</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Footer 1 - Bootstrap Brain Component -->
    <footer class="footer">

        <!-- Copyright -->
        <div class="bg-light py-5 py-xl-8 py-xxl-9 border-top border-light">
            <div class="container overflow-hidden">
                <div class="row gy-5 gy-md-0 align-items-md-center">
                    <div class="col-xs-12 col-md-7 order-1 order-md-0">
                        <div class="copyright text-center text-md-start">
                            &copy; 2024. All Rights Reserved.
                        </div>
                    </div>
    
                    <div class="col-xs-12 col-md-5 order-0 order-md-1">
                        <div class="contact-wrapper text-center text-md-end">
                            Contact us: <a href="mailto:support@trusttyreporter.com">support@trusttyreporter.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>